<header class="site-header">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          {% assign pages = site.pages | sort: 'position_in_menu' %}
          {% for p in pages %}
            {% if p.is_in_menu == true %}
              <a class="navbar-item {% if p.url == page.url %}active{% endif %}" href="{{ p.url }}">
                {{ p.title }}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </nav>
</header>
