<header class="site-header">
  <nav class="navbar animated" role="navigation" aria-label="dropdown navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/assets/images/eclipse-logo.jpeg" alt="">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          {% assign pages = site.pages | sort: 'position_in_menu' %}
          {% for p in pages %}
            {% if p.language == page.language %}
              {% if p.is_in_menu == true %}
                <a class="navbar-item {% if p.url == page.url %}active{% endif %}" href="{{ p.url }}">
                  {{ p.title }}
                </a>
              {% endif %}
            {% endif %}
          {% endfor %}
          <div class="navbar-item has-dropdown language-selector language-selector-desktop">
            <a class="navbar-item">
              <span>Language</span>
              <i class="mdi mdi-chevron-down"></i>
            </a>
            <div class="navbar-dropdown">
              {% for lang in site.languages %}
                {% if lang != page.language %}
                  <a class="navbar-item" href="/{% if lang != site.default_language %}{{lang}}{% endif %}">
                    {{ site.language_names[lang] }}
                  </a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="language-selector language-selector-mobile">
          <div class="navbar-item languages hidden">
            {% for lang in site.languages %}
              <a href="/{% if lang != site.default_language %}{{lang}}{% endif %}">
                {{ site.language_names[lang] }}
              </a>
            {% endfor %}
          </div>
          <div class="navbar-item language-selector-mobile-trigger">
            <span>Language</span>
            <i class="mdi mdi-chevron-down mdi-flip-v"></i>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
