<header class="site-header">
  <div class="wrapper">
    <nav class="site-nav">
      <a href="#" class="menu-icon">
        {% include hamburger.svg %}
      </a>
      <div class="trigger">
        <a class="page-link ajax-link" href="{{ site.baseurl }}/">Home</a>
        {% for my_page in site.pages %}
          {% if my_page.title and my_page.nav %}
          <a class="page-link ajax-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
