.blog {
  section.hero::before {
    background-image: url('../assets/images/blog.jpg');
  }

  h1 {
    font-size: 2.5rem;
  }

  article {
    position: relative;

    &::after {
      content: ' ';
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
      display: block;
      height: 3rem;
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: 5rem;
    }

    header {
      margin-bottom: 1.5rem;
    }

    header > a {
      display: block;
      color: inherit;
    }

    h2 {
      @extend %h3;
      width: 100%;
    }

    time {
      width: 100%;
      text-align: center;
      display: block;
      color: $light-gray;
    }

    .article-content {
      @extend %body-typography;
      height: 12rem;
      overflow: hidden;
    }

    .article-bottom-line {
      & > .column {
        padding: 0;
      }
    }

    .bottom-line {
      height: 1px;
      background-color: $light-gray;
      opacity: 0.4;
    }
  }
}

.post {
  h1 {
    font-size: 2.5rem;
  }

  article {
    @extend %body-typography;

    a {
      @extend %a;
    }
  }
}
