h2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  &.with-top-line::before {
    content: '';
    width: 10rem;
    height: 0.3rem;
    background-color: $black;
    margin-bottom: 2rem;
  }
}

.title-caption {
  @extend %font-condensed;
  font-weight: 100;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: $light-gray;

  @include from($tablet) {
    display: inline-flex;
    align-items: flex-end;
    white-space: pre;
  }
}

.homepage {
  section:not(.hero) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

section {
  header {
    margin-bottom: 5rem;

    @include until($desktop) {
      margin-bottom: 2rem;
    }
  }

  .column.centered-text {
    text-align: center;
  }

  .section-content {
    .text-content {
      @extend %body-typography;
      @extend %body-large;
    }

    a:not(.button):not(.card):not(.contact-media-link) {
      @extend %a;
    }
  }
}

section.intro-section {
  @extend %body-typography;
  @extend %body-larger;
  text-align: center;

  .logo-container {
    display: flex;
    margin-bottom: 3rem;
  }
}

.contact-section {
  z-index: 10;

  .contact-media {
    transition: transform $transition-duration $transition-effect;
    text-align: center;

    a {
      color: inherit;
    }

    &:hover {
      .media-icon {
        transform: scale(1.1);
      }
    }
  }

  .media-icon {
    font-size: 11rem;
    display: flex;
    justify-content: center;
    transition: transform $transition-duration $transition-effect;
  }

  .media-text {
    margin-top: 1.5rem;
  }

  .phone-number {
    font-size: 1.5rem;
  }

  .email-address {
    // font-size: 1.25rem;
  }

  .languages {
    font-size: 0.9rem;
    color: $grey-light;
  }
}

.blog-section {
  background-color: $gray;

  &::before {
    border-bottom-color: $gray;
  }

  h2 {
    color: $light-pink;
  }

  .post-list {
    align-items: stretch;
  }

  .post {
    text-align: left;

    .card {
      height: 100%;
      display: flex;
      flex-direction: column;
      transition: transform $transition-duration $transition-effect;

      &:hover {
        transform: scale(1.05);
      }
    }

    .card-content {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .media-content {
      margin: 0;
    }

    .title {
      font-size: 1.5rem;
    }

    .content {
      flex: 1;

      p {
        font-size: 1rem;
      }
    }

    footer {
      justify-content: flex-end;
      font-size: 0.9rem;
      font-weight: 300;
    }
  }

  figure > img {
    object-fit: cover;
  }
}

.button-container {
  margin-top: 3rem;
}
