.homepage {
  section:not(.hero) {
    padding-top: 8rem;
    padding-bottom: 8rem;

    h3 {
      margin-bottom: 3rem;
    }
  }
}

.services {
  margin-top: 2rem;
}

.service {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    color: $dark-purple;
    font-weight: 400;
    font-size: 1.5rem;
  }
}

.center-aligned {
  padding: 3rem 0;
  margin-bottom: 0;

  h3 {
    &::before {
      content: none;
    }
  }
}

.contact {
  .contact-media {
    transition: transform $transition-duration $transition-effect;

    &:hover {
      transform: scale(1.1);
    }
  }

  .media-icon {
    font-size: 11rem;
  }

  .media-text {
    margin-top: 1.5rem;
  }

  .phone-number {
    font-size: 1.5rem;
  }

  .languages {
    font-size: 0.9rem;
    color: $grey-light;
  }
}

section.blog {
  background-color: $petrol;

  .post-list {
    align-items: stretch;
    margin-bottom: 3rem;
  }

  .post {
    text-align: left;

    .card,
    .card-content {
      height: 100%;
    }

    .card {
      display: block;
      transition: transform $transition-duration $transition-effect;

      &:hover {
        transform: scale(1.05);
      }
    }

    .card-content {
      display: flex;
      flex-direction: column;
      background-color: $light-purple;
    }

    .media-content {
      margin: 0;
    }

    .title {
      font-size: 1.5rem;
      color: $dark-purple;
    }

    .content {
      flex: 1;

      p {
        font-size: 1rem;
      }
    }

    footer {
      justify-content: flex-end;
      font-size: 0.9rem;
      font-weight: 300;
    }
  }
}
