backend:
  name: git-gateway
  branch: eclipse-site
media_folder: "_assets/images"
collections:
  - name: "blog" # Used in routes, e.g., /admin/collections/blog
    label: "Blog" # Used in the UI
    folder: "_posts" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Layout", name: "layout", widget: "hidden", default: "post"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Teaser Text", name: "teaser_text", widget: "string"}
      - {label: "Featured Image", name: "thumbnail", widget: "image", required: false}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "homepage"
    label: Homepage
    folder: "pages/homepage"
    fields:
      - {label: "Layout", name: "layout", widget: "hidden"}
      - {label: "Add to menu", name: "is_in_menu", widget: "boolean"}
      - label: "Position in menu"
        name: "position_in_menu"
        widget: "number"
        valueType: "int"
        min: 1
        max: 100
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Headline Title", name: "headline_title", widget: "string"}
      - {label: "Headline Subtitle", name: "headline_subtitle", widget: "string"}
      - label: "Section 1"
        name: "section1"
        widget: "object"
        fields:
        - {label: "Title", name: "section1_title", widget: "string"}
        - {label: "Content", name: "section1_content", widget: "markdown"}
        - {label: "Button Text", name: "section1_button", widget: "string"}
      - label: "Section 2"
        name: "section2"
        widget: "object"
        fields:
        - {label: "Title", name: "section2_title", widget: "string"}
        - {label: "Button Text", name: "section2_button", widget: "string"}
      - label: "Section 3"
        name: "section3"
        widget: "object"
        fields:
        - {label: "Title", name: "section3_title", widget: "string"}
        - {label: "Email", name: "section3_email", widget: "string"}
        - {label: "Arabic Phone", name: "section3_phone_arabic", widget: "string"}
        - {label: "Farsi Phone", name: "section3_phone_farsi", widget: "string"}
