
.icon-cube:before { content: '\e800'; } /* '' */
.icon-book:before { content: '\e801'; } /* '' */
.icon-sneakers:before { content: '\e802'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */