---
layout: default
---
<div class="columns is-centered">
  <div class="column is-8">
    {% for post in site.posts %}
      {% if post.language == page.language %}
        <article>
          <header>
            <a href="{{ post.url }}">
              <h2>{{ post.title }}</h2>
              <time datetime="{{ post.date }}">{{ post.date | date_to_long_string }}</time>
            </a>
          </header>
          <div class="article-content article">
            {{ post.content }}
          </div>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</div>
