<!DOCTYPE html>
<html class="no-js" lang="">
  {% include head.html %}
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    {% include header.html %}
    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-5">
              <h1>{{ page.project_name }}</h1>
              <h2 class="subtitle">{{ page.headline }}</h2>
            </div>
            <div class="column is-5 is-offset-2"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="container">
      <h3>who we are</h3>
      <div class="section-subtitle">It's all about what we do and how we do it!</div>
      <div class="columns section-content">
        <div class="column">
          <p>
            Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam. Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam.
          </p>
        </div>
      </div>
    </section>

    <section class="container">
      <h3>what we stand for</h3>
      <div class="section-subtitle">It's all about what we do and how we do it!</div>
      <div class="columns section-content">
        <div class="column">
          <p>
            Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam.
          </p>
        </div>
      </div>
    </section>

    <section class="left-aligned">
      <div class="section-header">
        <div class="header-cover"></div>
        <div class="container">
          <div class="header-icon">
            <div class="icon-wrapper">
              <i class="icon-cube"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body container reveal">
        <h4>we create a <span>safe space</span></h4>
        <div class="columns section-content">
          <div class="column">
            <p>
              At the core of our work is a weekly meeting, to create a safe space for LGBTI+ refugees in the city center of Thessaloniki. The space is not publicly listed as our highest priority is to create an environment that ensures safety and anonymity.
            </p>
            <p>
              The safe space is co-created by LGBTI+ refugees and members of the local LGBTI+ community. We aim on one hand to connect LGBTI+ refugees within themselves and on the other hand to connect them to the local community. The safe space is a place to discuss issues such as gender identity, sexual orientation, relationships, coming out and cultural diversity but it is also a place to meet like minded people and to enjoy an evening without fear of being judged.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="right-aligned">
      <div class="section-header">
        <div class="header-cover"></div>
        <div class="container">
          <div class="header-icon">
            <div class="icon-wrapper">
              <i class="icon-"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body container reveal">
        <h4>learn a <span>language</span></h4>
        <div class="columns section-content">
          <div class="column">
            <p>
              Another pillar of our work is the language classes. Many members of the group face discrimination in other educational spaces. They stopped joining these groups and are therefore left without any education. This is why we decided to offer language classes in small groups, in order to meet their needs as good as possible.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="left-aligned">
      <div class="section-header">
        <div class="header-cover"></div>
        <div class="container">
          <div class="header-icon">
            <div class="icon-wrapper">
              <i class="icon-sneakers"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body container reveal">
        <h4>exersice and <span>socialize</span></h4>
        <div class="columns section-content">
          <div class="column">
            <p>
              Once a week one of the group members is conducting an aerobic or dance class, which enables people to get some physical activity and is a good way to reduce stress. Apart from this we organize other activites like beach trips, birthday parties or other excursions.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="right-aligned">
      <div class="section-header">
        <div class="header-cover"></div>
        <div class="container">
          <div class="header-icon">
            <div class="icon-wrapper">
              <i class="icon-"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body container reveal">
        <h4>connect with <span>organizations and services</span></h4>
        <div class="columns section-content">
          <div class="column">
            <p>
              We connect the members of our group to other organizations, which can support them in other needs. Through our network we can refer them to the following services
            </p>
          </div>
        </div>
        <div class="columns services">
          <div class="column">
            <div class="service card">
              <div class="card-content">
                <p class="title">Medical support</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="service card">
              <div class="card-content">
                <p class="title">STD testing</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="service card">
              <div class="card-content">
                <p class="title">Legal advice</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="service card">
              <div class="card-content">
                <p class="title">Counselling services</p>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="service card">
              <div class="card-content">
                <p class="title">Education</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="service card">
              <div class="card-content">
                <p class="title">Social activities</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="service card">
              <div class="card-content">
                <p class="title">Psychosocial services</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="service card">
              <div class="card-content">
                <p class="title">Housing</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="left-aligned">
      <div class="section-header">
        <div class="header-cover"></div>
        <div class="container">
          <div class="header-icon">
            <div class="icon-wrapper">
              <i class="icon-"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body container reveal">
        <h4><span>network</span> with other LGBTI+ support groups in Europe</h4>
        <div class="columns section-content">
          <div class="column">
            <p>
              In order for the members of our group to not lose their support, when they leave Greece, we are building a network of initiatives all over Europe, which are supporting LGBTI+ refugees. This enables us to refer members of our group to other support networks.
            </p>
            <p>
              We have been working with LGBTI+ refugees in Thessaloniki for more than a year and in that time have created a group that sustains itself and is co-conducted by the group members themselves.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="center-aligned blog">
      <div class="container reveal">
        <h3>Latest from our blog</h3>
        <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="center-aligned contact">
      <div class="container reveal">
        <h3>Find us on</h3>
        <div class="columns">
          <div class="column is-one-third">
            <div class="contact-media">
              <span class="media-icon icon-cube"></span>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="contact-media">
              <span class="media-icon icon-cube"></span>
              <div class="media-text">eclipse_alkusuf@riseup.net</div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="contact-media">
              <span class="media-icon icon-cube"></span>
              <div class="media-text">
                <div class="phone-number">+30 697 708 1273</div>
                <div class="languages">English, Arabic (عربي / انكليزي)</div>
              </div>
              <div class="media-text">
                <div class="phone-number">+30 697 708 3801</div>
                <div class="languages">English, Farsi (فارسی/ انگلیسی)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
