<!DOCTYPE html>
<html class="no-js" lang="">
  {% include head.html %}
  <body class="homepage">
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    {% include header.html %}
    <section class="hero">
      <div class="hero-container-wrapper">
        <div class="container">
          <div class="columns">
            <div class="column is-5">
              <h1>{{ page.headline_title }}</h1>
              <h2 class="subtitle">{{ page.headline_subtitle }}</h2>
            </div>
            <div class="column is-5 is-offset-2"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="home-page-content container center-aligned">
      <h3>{{ page.section1.title }}</h3>
      <div class="columns section-content">
        <div class="column is-10 is-offset-1">
          <p>{{ page.section1.content }}</p>
        </div>
      </div>
      <div class="button-container centered">
        <a class="button is-large is-rounded primary" href="{{ site.data.routes.what_we_do[page.language] }}">
          {{- page.section1.button -}}
        </a>
      </div>
    </section>

    <section class="center-aligned blog">
      <div class="container reveal">
        <h3>{{ page.section2.title }}</h3>
        <div class="columns post-list">
          {% assign counter = 1 %}
          {% for post in site.posts %}
            {% if post.language == page.language and counter <= 3 %}
              {% assign counter = counter | plus: 1 %}
              <div class="column is-one-third post">
                <a class="card" href="{{ post.url }}">
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <p class="title">{{ post.title }}</p>
                      </div>
                    </div>
                    <div class="content">{{ post.excerpt }}</div>
                    <footer class="card-footer">
                      <time datetime="2016-1-1">{{ post.date | date_to_long_string }}</time>
                    </footer>
                  </div>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="button-container centered">
          <a class="button is-large is-rounded primary" href="{{ site.data.routes.blog[page.language] }}">
            {{- page.section2.button -}}
          </a>
        </div>
      </div>
    </section>

    <section class="center-aligned contact">
      <div class="container reveal">
        <h3>{{ page.section3.title }}</h3>
        <div class="columns">
          <div class="column is-one-third">
            <div class="contact-media">
              <span class="media-icon icon-cube"></span>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="contact-media">
              <span class="media-icon icon-cube"></span>
              <div class="media-text">{{ page.section3.email }}</div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="contact-media">
              <span class="media-icon icon-cube"></span>
              <div class="media-text">
                <div class="phone-number">{{ page.section3.phone_arabic }}</div>
                <div class="languages">English, Arabic (عربي / انكليزي)</div>
              </div>
              <div class="media-text">
                <div class="phone-number">{{ page.section3.phone_farsi }}</div>
                <div class="languages">English, Farsi (فارسی/ انگلیسی)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
