---
layout: default-full-width
---
<section class="container">
  <h3>{{ page.intro_section.title }}</h3>
  <div class="section-subtitle">{{ page.intro_section.subtitle }}</div>
  <div class="columns section-content">
    <div class="column">
      {{ page.intro_section.content }}
    </div>
  </div>
</section>
{% assign class = 'left-aligned' %}
{% for page_section in page.page_sections %}
  <section class="pillar {{ class }}">
    <div class="section-header">
      <div class="header-cover"></div>
      <div class="container">
        <div class="header-icon">
          <div class="icon-wrapper">
            <i class="icon-cube"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="section-body container reveal">
      <h4>{{ page_section.title1 }}&nbsp;<span>{{ page_section.title2 }}</span></h4>
      <div class="columns section-content">
        <div class="column">
          {{ page_section.content }}
        </div>
      </div>
    </div>
  </section>
  {% if class == 'left-aligned' %}
    {% assign class = 'right-aligned' %}
  {% else %}
    {% assign class = 'left-aligned' %}
  {% endif %}
{% endfor %}
