.post-list {
  padding-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }

  h3 {
    margin-bottom: 0;
    margin-top: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin-top: 0;

  .post-list & {
    margin-bottom: $spacing-unit / 2;
    margin-top: 0;
    line-height: 2.6;
  }

  .post-single & {
    margin-top: $spacing-unit / 2;
  }

  .post-tags {
		margin-left: $spacing-unit / 4;

		a:not(:last-child):after {
			content: ',';
		}

		svg {
			vertical-align: middle;
			width: 12px;
			height: 12px;

			path {
				fill: $text-color;
			}
		}
	}
}

.post-link {
  display: block;
}

 .post {
   margin-top: $spacing-unit;
   margin-bottom: $spacing-unit * 4;

   &-index {
     &:after {
       content: '';
       border-bottom: solid 1px $grey-color-dark;
       display: block;
       max-width: 150px;
     }
   }

   &-single {
     margin-bottom: 0;
     margin-top: 0;
   }
 }

.post-title {
  margin-bottom: 0;
  line-height: 1.6;

  a {
    text-decoration: none;
  }

  .post-list & {
    display: block;

    a {
      font-family: $base-font-family;
      font-weight: 400;
      text-decoration: underline;
      display: inline-block;
    }
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
        font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
        font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
        font-size: 18px;
    }
  }
}
