section.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;

  &::after {
    content: '';
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(27, 32, 48, 1) 100%);
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0);
    background-image: url('../assets/images/flag.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: grow 60s  linear 10ms infinite;
    transition: all 0.2s ease-in-out;
    z-index: -2;
  }

  &.short {
    height: 75vh;
    text-align: center;
  }

  h1 {
    color: $light-purple;
  }

  .subtitle {
    color: $light-purple;
  }

  .hero-container-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.page-content {
  background-color: $light-purple;
  padding-top: 7rem;
  padding-bottom: 7rem;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 3rem solid $light-purple;
    position: absolute;
    top: -3rem;
  }
}

section.container,
div.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.section-body {
  margin-top: 4rem;

  h4 {
    margin-bottom: 2rem;
  }
}

.right-aligned {
  .icon-wrapper {
    right: 0;
  }

  h4 {
    justify-content: flex-end;
    width: 100%;
  }
}

section.center-aligned {
  text-align: center;
}

.section-subtitle {
  @extend %font-condensed;
  font-size: 1.5rem;
  color: $grey-light;
}

.header-cover {
  // background-image: url('https://source.unsplash.com/random/1200x800');
  background-position: center;
  background-size: cover;
  height: 20rem;
  width: 100%;
  border-bottom: 0.25rem solid $petrol;
}

.header-icon {
  position: relative;
}

.icon-wrapper {
  border: 0.25rem solid $petrol;
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(-5rem / 2 - 0.25rem / 2);
  background-color: white;

  > i {
    font-size: 3rem;
  }
}

h4 {
  @include from($tablet) {
    > span {
      display: inline-flex;
      flex-direction: column;
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 0.2rem;
        background-color: $dark-purple;
        position: absolute;
        top: -2rem;
        opacity: 0;
      }
    }
  }
}

section.pillar {
  margin-bottom: 10rem;
}

.revealed  {
  h4 {
    > span::before {
      top: 0;
      opacity: 1;
      transition: all 200ms $transition-effect;
    }
  }
}
