.page-content {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

section {
  margin-bottom: 8rem;
}

section.container,
div.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

section.container,
.section-body {
  margin-top: 5rem;
}

section.container {
  margin-bottom: 8rem;
}

.section-content {
  margin-top: 3rem;
}

.right-aligned {
  .icon-wrapper {
    right: 0;
  }

  h4 {
    justify-content: flex-end;
    width: 100%;
  }
}

section.center-aligned {
  text-align: center;
}

.section-subtitle {
  @extend %font-condensed;
  font-size: 1.5rem;
  color: $grey-light;
}

.header-cover {
  background-image: url('https://source.unsplash.com/random/1200x800');
  background-position: center;
  background-size: cover;
  height: 20rem;
  width: 100%;
  border-bottom: 0.25rem solid $petrol;
}

.header-icon {
  position: relative;
}

.icon-wrapper {
  border: 0.25rem solid $petrol;
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(-5rem / 2 - 0.25rem / 2);
  background-color: white;

  > i {
    font-size: 3rem;
  }
}

section.hero {
  position: relative;
  height: 100vh;
}
