section.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;

  &::after {
    content: '';
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(27, 32, 48, 1) 100%);
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0);
    background-image: url('../assets/images/flag.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: grow 60s  linear 10ms infinite;
    transition: all 0.2s ease-in-out;
    z-index: -2;
  }

  &.short {
    height: 75vh;
    text-align: center;
  }

  h1 {
    color: $white;
  }

  .subtitle {
    color: $white;
  }

  .hero-container-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .hero-container-inner {
    width: 100%;
  }
}

.diagonal-top {
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 3rem solid $white;
    position: absolute;
    top: -3rem;

    @include until($desktop) {
      top: calc(-3rem + 1px);  // Solves issue with border between elements
    }
  }
}

.page-content {
  padding-top: 7rem;
  padding-bottom: 7rem;
  position: relative;
}

section.container,
div.container,
header.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

section.center-aligned {
  text-align: center;
}

.section-subtitle {
  @extend %font-condensed;
  font-size: 1.5rem;
  color: $grey-light;
}

// h4 {
//   @include from($tablet) {
//     > span {
//       display: inline-flex;
//       flex-direction: column;
//       position: relative;
//
//       &::before {
//         content: '';
//         width: 100%;
//         height: 0.2rem;
//         background-color: $purple;
//         position: absolute;
//         top: -2rem;
//         opacity: 0;
//       }
//     }
//   }
// }

// h4.with-top-line {
//   &::before {
//     top: 0;
//     opacity: 1;
//     transition: all 200ms $transition-effect;
//   }
// }

.horizontal-line-container {
  .horizontal-line {
    height: 1px;
    background-color: $light-gray;
  }
}

.separation-dot-container {
  display: flex;
  justify-content: center;
  width: 100%;

  .separation-dot {
    border-radius: 0.6rem;
    width: 0.6rem;
    height: 0.6rem;
    box-shadow: inset 0 0 4px $light-gray;
    border: 1px solid $light-gray;
  }
}

.subpage {
  article.content {
    @extend %body-typography;
  }
}
