nav.navbar {
  @extend %font-condensed;
  background-color: $white;
  font-size: 1.2rem;
  flex-direction: column;

  &.is-active {
    height: 100vh;
  }

  @include from($desktop) {
    > .container {
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: flex-end;
      align-items: center;
      min-height: unset;
    }
  }

  @include until($desktop) {
    display: flex;
    justify-content: space-between;

    .submenu {
      display: none;
    }

    &.is-active {
      .submenu {
        display: block;
      }
    }
  }

  .navbar-brand {
    height: 100%;

    .navbar-item {
      &:hover {
        background-color: transparent;
      }

      img {
        height: 100%;
        max-height: 3rem;
      }
    }

    @include until($desktop) {
      height: 4rem;
    }
  }

  .navbar-menu {
    background-color: transparent;
    box-shadow: none;
    height: 100%;

    &.is-active {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }

  .navbar-item,
  .navbar-link {
    color: $purple;

    &:hover {
      color: $pink;
      background-color: transparent;
    }
  }

  .navbar-link::after {
    border-color: $purple;
  }

  .navbar-burger {
    height: 100%;
  }

  .navbar-dropdown {
    padding: 0;

    .navbar-item:last-child {
      border-bottom-left-radius: $radius-large;
      border-bottom-right-radius: $radius-large;
    }
  }

  .language-selector-desktop {
    @include until($desktop) {
      display: none;
    }
  }

  .language-selector-mobile {
    display: flex;
    flex-direction: column;

    @include from($desktop) {
      display: none;
    }

    .languages {
      border: 1px solid $purple;
      border-radius: $radius-large;
      cursor: pointer;
      width: max-content;
      margin-bottom: 0.375rem;
      display: flex;
      flex-direction: column;

      &:hover {
        background: $white;
      }

      > a {
        color: $purple;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

.submenu {
  @extend %font-condensed;
  @extend %body-smaller;

  > ul {
    display: flex;
  }

  li {
    padding: 0.3rem 0.5rem;
    color: $gray;

    span {
      color: $light-gray;
    }

    a:not(:hover) {
      color: $gray;
    }

    a:hover {
      color: $pink;
    }
  }

  @include until($desktop) {
    ul {
      flex-direction: column;
    }

    li {
      padding: 0.5rem 1rem;
    }
  }
}
