nav.navbar {
  background-color: transparent;

  &.is-active {
    background-color: $darkest-purple;
    color: $white;
  }

  .navbar-menu {
    background-color: transparent;
  }

  .navbar-item {
    color: $white;

    &:hover {
      background-color: transparent;
    }
  }
}
