%font-condensed {
  font-family: 'Muli', sans-serif;
  letter-spacing: -1px;
}

%body-typography {
  font-family: 'Adamina', serif;
  font-size: 1.25rem;

  @include until($desktop) {
    font-size: 1rem;
  }
}

%body-small {
  font-size: 1rem;

  @include until($desktop) {
    font-size: 0.75rem;
  }
}

%body-smaller {
  font-size: 0.875rem;

  @include until($desktop) {
    font-size: 0.75rem;
  }
}

%body-large {
  font-size: 1.5rem;

  @include until($desktop) {
    font-size: 1.25rem;
  }

  @include until($tablet) {
    font-size: 1rem;
  }
}

%body-larger {
  font-size: 1.75rem;

  @include until($desktop) {
    font-size: 1.5rem;
  }

  @include until($tablet) {
    font-size: 1.25rem;
  }
}

%h1 {
  @extend %font-condensed;
  font-weight: $weight-light;
  font-size: 5rem;
  line-height: 5.75rem;

  @include until($desktop) {
    font-size: 3rem;
    line-height: 3.75rem;
  }
}

%h2 {
  @extend %font-condensed;
  font-size: 3rem;
  line-height: 3.75rem;

  @include until($desktop) {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }
}

%h3 {
  @extend %font-condensed;
  font-size: 2.25rem;
  line-height: 3rem;

  @include until($desktop) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h1,
h2 {
  color: $black;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}
