$transition-duration: 150ms;
$transition-effect: ease-in-out;

$purple: #d7d1db;
$dark-purple: #595d70;
$light-purple: lighten($purple, 10%);
$darkest-purple: #1d0d12;
$pastel-purple: #879cd4;

$petrol: #bac1d3;
$blue: #0f294b;
$dark-blue: #060b2b;

$black: #060814;

$dark-green: #0c1b1f;

$beige: #87847d;
$dark-beige: #433930;
