$transition-duration: 150ms;
$transition-effect: ease-in-out;

$black: #161516;
$purple: #461434;
$gray: #3a3a3a;
$grey-dark: #3a3a3a;
$light-gray: lighten($gray, 50%);
$pink: #ac458c;
$light-pink: #f7e4f4;
$white: #fff;

$radius-large: 2px;
$tablet: 768px;
