$transition-duration: 150ms;
$transition-effect: ease-in-out;

$purple: #88245a;
$dark-purple: #421126;
$darkest-purple: #1d0d12;

$petrol: #305b87;
$blue: #0f294b;
$dark-blue: #060b2b;

$black: #060814;

$dark-green: #0c1b1f;

$beige: #87847d;
$dark-beige: #433930;
